@model Obezite_ve_Kalori_Takip_Sitesi.Models.DenizÜrünü

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DenizÜrünü</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Yiyecek" class="control-label"></label>
                <input asp-for="Yiyecek" class="form-control" />
                <span asp-validation-for="Yiyecek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kalori" class="control-label"></label>
                <input asp-for="Kalori" class="form-control" />
                <span asp-validation-for="Kalori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

