@{
    ViewData["Title"] = "Hesaplamalar";
}
<div id="hn-gunluk-kalori-ihtiyaci-widget"></div>
<script src="https://e.hesaplama.net/gunluk-kalori-ihtiyaci.do?bgcolor=FFFFFF&tcolor=000000&tsize=m&tfamily=ari&btype=c&bsize=1px&bcolor=EEEEEE" type="text/javascript"></script>

<div id="hn-vucut-kitle-endeksi-widget"></div>
<script src="https://e.hesaplama.net/vucut-kitle-endeksi.do?bgcolor=FFFFFF&tcolor=000000&tsize=m&tfamily=ari&btype=c&bsize=1px&bcolor=EEEEEE" type="text/javascript"></script>

<div id="hn-ideal-kilo-widget"></div>
<script src="https://e.hesaplama.net/ideal-kilo.do?bgcolor=FFFFFF&tcolor=000000&tsize=m&tfamily=ari&btype=c&bsize=1px&bcolor=EEEEEE" type="text/javascript"></script>