@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12 col-xxs-12">
        <a href="http://www.hurriyet.com.tr/gundem/kaloride-miktar-degil-kalite-onemli-40137082">
            <div id="img1">
                <img src="~/images/healthy-food.jpg" style="width:100%" alt="Paris">
                <span id="img1-span">'KALORİDE MİKTAR DEĞİL KALİTE ÖNEMLİ'</span>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <a href="https://www.doktorsitesi.com/article/bir-porsiyon-stres-kac-kalori"> 
                    <div div id="img2">
                        <img src="~/images/stress-eating.jpg" style="width:100%">
                        <span id="img2-span">'BİR PORSİYON STRES KAÇ KALORİ?'</span>
                    </div>
                </a>
                <a href="https://www.aysetolga.com/hazirlamasi-kolay-100-kalorilik-atistirmaliklar">
                    <div div id="img3">
                        <img src="~/images/patlamis-misir.jpg" style="width:100%">
                        <span id="img3-span">HAZIRLAMASI KOLAY 100 KALORİLİK ATIŞTIRMALIKLAR</span>
                    </div>
                </a>                
            </div>
        </div>
    </div>
</div>





