body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Oxygen', sans-serif;
    margin:0;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

#qrCode {
    margin: 15px;
}

#header-nav {
    background-color: #ff7f3d;
    min-height: 90px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
}

@media screen and (max-width: 767px) {
    #img1, #img2, #img3 {
        width: 330px;
        margin: 0 auto 15px;
    }
}

#logo-img {
    background: url('../images/food.png') no-repeat;
    width: 75px;
    height: 62px;
    margin: 13px 8px 10px 0;
    background-position: center;
    background-size: 100% 100%;
}

.navbar-brand {
    padding-top: 30px;
}

.navbar-brand h1 { 
    font-family: 'Kaushan Script', cursive;
    color: #27a544;
    font-size: 1.9em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #064e0f;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    letter-spacing: 3px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
    margin-top: 14px;
}

#nav-list a {
    color: #ffffff;
    text-align: center;
    font-size: 1.1em;
}

#nav-list a:hover {
    background: #cc0000;
}

#nav-list a span {
    font-size: 1.7em;
    margin-right: 10px; 
    margin-bottom:-3px;
    vertical-align:bottom;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -21px;
    margin-bottom: 35px;
}

/*********************************************END HEADER *************************************************/

tr:nth-child(even) {
    background-color: #fff2e6;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;    
    font-size:.9em;
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width:150px;
}  /************************************end Kalori Değerleri***********************************************/

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

#img1, #img2, #img3 {    
    position: relative;
    overflow: hidden;
    width: 100%;
    margin:10px;
}

#img2{
    margin-bottom:9px;
}

.col-md-12 img{
    height:270px;
}

.col-md-8 img {
    height:550px;
}

.col-md-12{
    padding:5px;
}

.col-md-8{
    padding:5px;
}

#img1-span, #img2-span, #img3-span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.9em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .75;
    height: 43px;
}

#img1-span {
    line-height: 2.1;
    height:65px;
    font-size:2.2em;
}

#img2-span {
    font-size: 1.4em;
    line-height:1.90;
}

#img3-span {
    font-size: 1.4em;
    line-height: 1.55;
    height:65px;
}


